span.project-tag {
    color: #fff;
    transition: font-size 0.5s, color 0.5s, width 0.5s, height 0.5s;
}
span.project-tag a.glyphicon{
    color: #fff;
}
a.tool-tip, a.tool-tip:hover, a.tool-tip:visited {
    color: #777;
}
a.tool-tip i.glyphicon {
	color: #fff;
}