{% extends 'base_info.html' %}
{% import 'macros.html'  as macros %}
{% import 'bootstrap/wtf.html'  as wtf %}
{% import 'bootstrap/utils.html'  as utils %}

{% block header %}
  <ol class="breadcrumb">
    <li><a href='{{ url_for("bounties") }}'>All Bounties</a></li>
    <li class="active">Bounty Info</li>
  </ol>
  <!-- <div class="page-header">
    <h1>Bounty Info</h1>
  </div> -->
  <div class='row col-md-12'>
    <div class='col-md-1' align='center'>
      <div class="row">
      <img src='{{ url_for("static", filename=bounty.project.img_url) }}'></img>
      </div>
      <div class="row">
        <span>{{ bounty.project.name }}</span>
      </div>
    </div>

    <div class='col-md-8'>
      <span class='h2'>{{ bounty.title }}<br /><small>{{ bounty.description }}</small><span> 
    </div>
  </div>
{% endblock %}

{% block page_content %}



  <div class="tab-pane fade in active" role="tabpanel" id="home">
    <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">

      <div class="col-md-9" style="padding-left: 0px">
          <div class="panel-group" id="accordion">
            {% for comment in comments %}
              {{ macros.comment_row(comment) }}
            {% endfor %}
          </div>
          <div class='row'>
          </div>
      </div>

      <div class="well input-group col-md-3" style="padding: 19px" style="padding-right: 0px">
        <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 24px" data-toggle="modal" data-target="#newBountyModal">
          Offer a Bounty
        </button>
        
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}