{% extends 'base_main.html' %}
{% import 'macros.html'  as macros %}
{% import 'bootstrap/wtf.html'  as wtf %}
{% import 'bootstrap/utils.html'  as utils %}

{% block page_content %}
  <!-- Bounties -->

  <div class="tab-pane fade in active" role="tabpanel" id="home">
    <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">

      <div class="col-md-9" style="padding-left: 0px">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for bounty in bounties %}
          {{ macros.bounty_row(bounty, loop.index0) }}
          {% endfor %}
        </div>
      </div>

      <div class="well input-group col-md-3" style="padding: 19px" style="padding-right: 0px">
        <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 24px" data-toggle="modal" data-target="#newBountyModal">
          Offer a Bounty
        </button>
        {# wtf.quick_form(sort_bounty_form) #}


        <span>Sort by:</span>
        <select class="form-control" id="sort" onchange="sort();">
          <option value="descDate">Newest first</option>
          <option value="ascDate">Oldest first</option>
          <option value="descBounty">Biggest bounty first</option>
        </select>
        <br>
        <span style="margin-top: 12px">Search by:</span>
        <div class="row" style="margin-left: 5px; margin-top: 12px; margin-bottom: 12px">
          <label>Project</label>
          <input class="input-sm pull-right" type="text">
        </div>
        <div class="row" style="margin-left: 5px">
          <label>Language</label>
          <input class="input-sm pull-right" type="text">
        </div>
      </div>
    </div>
  </div>

  <!-- New Bounty Modal -->
  <div class="modal fade" id="newBountyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">New Bounty</h2>
        </div>
        <form role="form" id="submitForm", action="{{ url_for('bounties') }}", method="POST">
          <div class="modal-body">
            {# wtf.quick_form(new_bounty_form) #}
            {{ new_bounty_form.hidden_tag() }}

            {% for field, errors in new_bounty_form.errors.iteritems() %}
            <div class="alert alert-danger">
              {{ new_bounty_form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}

            <div class="form-group">
              {{ new_bounty_form.title.label }}
              {{ new_bounty_form.title(class_="form-control", placeholder="Enter bounty overview") }}
            </div>
            <div class="form-group">
              {{ new_bounty_form.description.label }}
              {{ new_bounty_form.description(class_="form-control", rows=6, placeholder="Enter detailed description") }}
            </div>
            <div class="row">
              <div class="form-group col-sm-6 pull-left bounty-input">
                <input id="bountyOffered-initial" class="bounty-slider" data-label-id="bountyValue-initial" data-slider-id='bountyOffered-initial' type="text" data-slider-min="0" data-slider-max="300" data-slider-step="10" data-slider-value="100"/>
                <label for="bountyOffered-initial">Bounty Offered: <span id="bountyValue-initial">100</span></label>
              </div>
              <div class="form-group col-sm-6">
                {{ new_bounty_form.project.label }}
                {{ new_bounty_form.project(class_="form-control") }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save Bounty</button> -->
            {{ new_bounty_form.submit_bounty(class_="btn btn-primary") }}
            {# utils.form_button(url_for('index'), "Save Bounty", method='POST', class='btn btn-primary') #}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  var formErrors = {% if new_bounty_form.errors %}true{% else %}false{% endif %};

  $(document).ready(function() {

    $("#bounty-tab").addClass("active");

    $('.bounty-slider').slider({
      formatter: function(value) {
        return 'Current value: ' + value;
      }
    });

    $('.bounty-slider').on("slide", function(evt){
      $("#"+this.getAttribute("data-label-id")).text(evt.value)

    });

    $('.bounty-input').on("click", function(evt){
      var inputElem = this.getElementsByClassName('bounty-slider')[0]
      $("#"+inputElem.getAttribute('data-label-id')).text(inputElem.getAttribute('value'))

    });

    if (formErrors) {
      $('.modal').modal('show');
    }
  });
</script>
{% endblock %}