{% extends 'base_info.html' %}
{% import 'macros.html'  as macros %}
{% import 'bootstrap/wtf.html'  as wtf %}
{% import 'bootstrap/utils.html'  as utils %}

{% block header %}
  <ol class="breadcrumb">
    <li><a href='{{ url_for("bounties") }}'>All Bounties</a></li>
    <li class="active">Bounty Info</li>
  </ol>
  <!-- <div class="page-header">
    <h1>Bounty Info</h1>
  </div> -->
  <div class='row col-md-12'>
    <div class='col-md-1'>
      <div class="row">
      <img src='{{ url_for("static", filename=bounty.project.img_url) }}'>
      </div>
    </div>

    <div class='col-md-8'>
      <span class='h2'>
        {{ bounty.title }}<span class='badge bountyPledgeLable'>{{ bounty.pledges|sum(attribute="amount") }}</span>
        <br />
        <small>
          {{ macros.bounty_status_type(bounty, bounty_statuses) }}
          {{ bounty.project.name }}
        </small>
      <span>
    </div>
  </div>
{% endblock %}

{% block page_content %}

  <div class="row col-md-12 voffset4">

    <div class="col-md-9" style="padding-left: 0px">
      <div class="panel-group" id="accordion">
        {% for comment in bounty.comments %}
          {{ macros.comment_row(comment) }}
        {% endfor %}

        <div class="media voffset2">
          <div class="media-left">
            <a>
              <img class="media-object" src='{{ url_for("static", filename=g.user.img_url) }}' style='width:50px; height:50px'>
            </a>
          </div>
          <div class="media-body panel panel-default">
            <div class="panel-heading"><strong>{{ g.user.name }}</strong></div>
              <div class="panel-body">
              <form role="form" id="submitForm" action="{{ url_for('bounty_info', bounty_id=bounty.id) }}" method="POST">
                {{ new_comment_form.hidden_tag() }}

                {% for field, errors in new_comment_form.errors.iteritems() %}
                <div class="alert alert-danger">
                  {{ new_comment_form[field].label }}: {{ ', '.join(errors) }}
                </div>
                {% endfor %}
                <div class="form-group">
                  {{ new_comment_form.new_comment(class_="form-control", rows=6, placeholder="Post a new comment") }}
                </div>

                {{ new_comment_form.submit_new_comment(class_="btn btn-primary") }}
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
      </div>
    </div>

    <div class="well input-group col-md-offset-9 col-md-3" style="padding: 19px" style="padding-right: 0px">
      <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 24px">
        Back this Bounty
      </button>
      {% for backer in bounty.backers %}
        {{ macros.pledge_row(backer, bounty) }}
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}