{% extends 'base_main.html' %}
{% import 'macros.html'  as macros %}
{% import 'bootstrap/wtf.html'  as wtf %}
{% import 'bootstrap/utils.html'  as utils %}

{% block page_content %}
  <!-- Bounties -->

  <div class="tab-pane fade in active" role="tabpanel" id="home">
    <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">

      <div class="col-md-9" style="padding-left: 0px">
        <div class="panel-group" id="bounty-accordion" role="tablist" aria-multiselectable="true">

          {% include "bounty_group.html" with context %}

          <div class='panel panel-default' id="more-bounties">
            <div class='panel-heading' role="tab" >
              <a class='h4' href='#more-bounties'>Load more bounties</a>
            </div>
          </div>

        </div>
      </div>

      <div class="well input-group col-md-3" style="padding: 19px" style="padding-right: 0px">
        <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 24px" data-toggle="modal" data-target="#newBountyModal">
          Offer a Bounty
        </button>


        <span>Sort by:</span>
        <select class="form-control" id="sort" onchange="sort();">
          <option value="descDate">Newest first</option>
          <option value="ascDate">Oldest first</option>
          <option value="descBounty">Biggest bounty first</option>
        </select>
        

        <form role="form" id="submitForm", action="{{ url_for('bounties') }}", method="POST">
          <div class="voffset5">
            <span style="margin-top: 12px">Projects:</span>
            {% for project in projects %}
              <span id="label-{{ project.id }}" class="label label-default unselectable filter-tag filter-project-tag" style="display: inline-block;" data-tag-id="{{ project.id }}">{{ project.name }}</span>
            {% endfor %}
          </div>
          <div class="voffset3">
            <span style="margin-top: 12px">Tags:</span>
            {% for tag in tags %}
              <span id="label-{{ tag.id }}" class="label label-default unselectable filter-tag filter-tag-tag" style="display: inline-block;" data-tag-id="{{ tag.id }}">{{ tag.label }}</span>
            {% endfor %}
          </div>
          <div class='row voffset4'>
            <div class="col-md-12" align="right">
              <span class="label label-success unselectable example-filter-tag" style="display: inline-block;">Require</span>
              <span class="label label-warning unselectable example-filter-tag" style="display: inline-block;">Exclude</span>

              {{ filter_bounty_form.hidden_tag() }}
              {{ filter_bounty_form.require_tags(type="hidden", style="display: none") }}
              {{ filter_bounty_form.exclude_tags(type="hidden", style="display: none") }}
              {{ filter_bounty_form.require_tags(type="hidden", style="display: none") }}
              {{ filter_bounty_form.exclude_tags(type="hidden", style="display: none") }}
              {{ filter_bounty_form.do_filter(class_="btn btn-primary") }}
            </div>
          </div>
        </form>

        
      </div>
    </div>
  </div>

  <!-- New Bounty Modal -->
  <div class="modal fade" id="newBountyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">New Bounty</h2>
        </div>
        <form role="form" id="submitForm" action="{{ url_for('bounties') }}" method="POST">
          <div class="modal-body">
            {# wtf.quick_form(new_bounty_form) #}
            {{ new_bounty_form.hidden_tag() }}

            {% for field, errors in new_bounty_form.errors.iteritems() %}
            <div class="alert alert-danger">
              {{ new_bounty_form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}

            <div class="form-group">
              {{ new_bounty_form.title.label }}
              {{ new_bounty_form.title(class_="form-control", placeholder="Enter bounty overview") }}
            </div>
            <div class="form-group">
              {{ new_bounty_form.description.label }}
              {{ new_bounty_form.description(class_="form-control", rows=6, placeholder="Enter detailed description") }}
            </div>
            <div class="row">
              <div class="form-group col-sm-6 pull-left bounty-input">
                <input id="bountyOffered-initial" name="bounty_amount" class="bounty-slider" data-label-id="bountyValue-initial" data-slider-id='bountyOffered-initial' type="text" data-slider-min="0" data-slider-max={{ g.user.budget }} data-slider-step="10" data-slider-value="100"/>
                <label for="bountyOffered-initial">Bounty Offered: <span id="bountyValue-initial">100</span></label>
              </div>
              <div class="form-group col-sm-6">
                {{ new_bounty_form.project.label }}
                {{ new_bounty_form.project(class_="form-control") }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save Bounty</button> -->
            {{ new_bounty_form.submit_bounty(class_="btn btn-primary") }}
            {# utils.form_button(url_for('index'), "Save Bounty", method='POST', class='btn btn-primary') #}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  var formErrors = {% if new_bounty_form.errors %}true{% else %}false{% endif %};

  $(document).ready(function() {

    $("#bounty-tab").addClass("active");

    $('.bounty-slider').slider({
      formatter: function(value) {
        return 'Current value: ' + value;
      }
    });

    $('#more-bounties').on('click', function(e) {
        var offset = $('#bounty-accordion > .bounty-row').length;
        var url_base = "{{ url_for("more_bounties", offset=80085) }}";
        var final_url = url_base.replace("80085", offset);

        $.ajax({
            dataType: "html",
            url: final_url,
            success: function (data) {
                console.log(data);
                $('#bounty-accordion').append(data);
                $( "#more-bounties" ).appendTo( $( "#bounty-accordion" ) );
            }
        });
    });


    $('#do_filter').on('click', function (e) {
        var require = [];
        var exclude = [];

        $('.filter-tag-tag').each(function (i, obj) {
            if ($(this).hasClass("label-success")) {
                require.push($(this).attr('data-tag-id'))
            } else if ($(this).hasClass("label-warning")) {
                exclude.push($(this).attr('data-tag-id'))
            }
        });
    });

    $('.bounty-slider').on("slide", function(evt){
      $("#"+this.getAttribute("data-label-id")).text(evt.value)

    });

    $('.bounty-input').on("click", function(evt){
      var inputElem = this.getElementsByClassName('bounty-slider')[0]
      $("#"+inputElem.getAttribute('data-label-id')).text(inputElem.getAttribute('value'))

    });

    if (formErrors) {
      $('.modal').modal('show');
    }
  });
</script>
{% endblock %}