{% extends 'base.html' %}
{% import 'macros.html'  as macros %}


{% block title %}
  <div class="jumbotron">
    <img src="{{ url_for('static', filename='LOGO.png') }}" />
    <p>Looking for a way to spend your 20% time? Bored on the weekend? Just want to get some YouEarnedIt swag? Check the outstanding requests below!</p>
  </div>
{% endblock %}

{% block menubar %}
  <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
    <li class="active"><a href="#home" data-toggle="tab">Open Bounties</a></li>
    <li><a href="#projects" data-toggle="tab">Projects</a></li>
  </ul>
{% endblock %}

{% block page_content %}
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">

        <div class="col-md-9" style="padding-left: 0px">
            <div class="panel-group" id="accordion">
              {% for bounty in bounties %}
                {{ macros.bounty_row(bounty) }}
              {% endfor %}
            </div>
        </div>

        <div class="well input-group col-md-3" style="padding: 19px" style="padding-right: 0px">
          <a type="button" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 24px" href="submit.html">Offer a Bounty</a>
          <span>Sort by:</span>
          <select class="form-control" id="sort" onchange="sort();">
            <option value="descDate">Newest first</option>
            <option value="ascDate">Oldest first</option>
            <option value="descBounty">Biggest bounty first</option>
          </select>
          <br>
          <span style="margin-top: 12px">Search by:</span>
          <div class="row" style="margin-left: 5px; margin-top: 12px; margin-bottom: 12px">
              <label>Project</label>
              <input class="input-sm pull-right" type="text">
          </div>
          <div class="row" style="margin-left: 5px">
              <label>Language</label>
              <input class="input-sm pull-right" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="projects">
      <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">
        <div class="list-group" id="projectList"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}