{% macro bounty_row(slap_on_bounty_form, bounty, index, offset) %}
  <div class='panel panel-default bounty-row'>
    <div class='panel-heading' role="tab" id="heading{{index+offset}}">
      <a class='h4' data-toggle='collapse' data-parent='#accordion' href='#bounty-details-{{index+offset}}' aria-expanded="true" aria-controls="bounty-details-{{index+offset}}">{{bounty.title}}</a>
      <span class='badge bountyPledgeLable'>{{ bounty.pledges|sum(attribute="amount") }}</span>
      <div class='col-md-1 pull-right'>
        <a class='pull-right'>
          <img src='{{ url_for("static", filename=bounty.project.img_url) }}' style='margin-top: -6px; width:32px; height:32px' data-toggle="tooltip" title="{{ bounty.project.name }}"/>
        </a>
      </div>
    </div>
    <div id='bounty-details-{{index+offset}}' class='panel-collapse collapse' role="tabpanel" aria-labelledby="heading{{index+offset}}">
      <div class='panel-body'>
        <p>{{bounty.description}}</p>
        <div class='row col-md-12'>
          <div class='col-sm-3'>
            <a id='addBounty' class='btn btn-info' data-toggle="collapse" data-target="#add-pledge-{{index+offset}}">Add to the Bounty</a>
          </div>
          <form role="form" id="submitForm" action="{{ url_for('slap_it_on') }}" method="POST">
            <div id='add-pledge-{{index+offset}}' class='row col-sm-7 collapse'>
              <div class="col-sm-9 bounty-input">
                <input name="bounty_addition" id="bountyOffered-{{index+offset}}" class="bounty-slider" data-slider-id='bountyOffered-{{index+offset}}' data-label-id='bountyValue-{{index+offset}}' type="text" data-slider-min="0" data-slider-max={{ g.user.budget }} data-slider-step="10" data-slider-value="100"/>
                <input type="hidden" name="bounty_id" id="bounty_id" value="{{ bounty.id }}"/>
                <label for='bountyOffered-{{index+offset}}' style='margin-bottom: 0px'>Bounty Offered: <span id='bountyValue-{{index+offset}}'>100</span></label>
              </div>
              <div class="col-sm-3">
                {{ slap_on_bounty_form.slap_on_bounty(class='btn btn-primary pull-right', style="display: inline-block;") }}
              </div>
            </div>
          </form>

          <a href='{{ url_for("bounty_info", bounty_id=bounty.id) }}' id='bountyDetails-{{index+offset}}' class='btn btn-primary pull-right'>More Details</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro project_row(project, index) %}
  <div class='row-fluid'>
    <div class='list-group-item'>
      <div class='row'>
        <div class='col-md-2 pull-left'>
          <img class='media-object' data-source='holder.js/128x128' alt='128x128' src='{{ url_for("static", filename=project.img_url) }}' style='width:128px; height:128px'/>
        </div>
        <div class='col-md-10'>
          <div class='row'>
            <div class='col-md-6'>
              <span class='h2'>{{ project.name }} <small><a href='{{ project.github_url }}'><span class="mega-octicon octicon-mark-github"></span></a></small></span>
            </div>
            <div class='col-md-6' align='right'>
              {% for tag in project.tags %}
                <span class="label label-default project-tag" style="display: inline-block;">{{ tag.label }} <a class='glyphicon glyphicon-remove remove-tag' style='display: none' data-toggle="modal" data-target="#removeLabelModal" data-project='{{ project.name }}' data-tag='{{ tag.label }}'></a></span>
              {% endfor %}
              <span class="label label-default add-project-tag" style="display: inline-block;" data-toggle="modal" data-target="#newLabelModal" data-project-id='{{ project.id }}'>
                <a class='tool-tip' data-toggle="tooltip" data-placement="top" title="Add tag to Project">
                  <i class='glyphicon glyphicon-plus'></i>
                </a>
              </span>
            </div>
          </div>
          <div class='list-group-item-text'>
            <p>{{project.description}}</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href='{{ url_for("project_info", project_id=project.id) }}' id='projectDetails-{{index}}' class='btn btn-primary pull-right'>More Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro comment_row(comment) %}
  <div class="media voffset2">
    <div class="media-left">
      <a>
        <img class="media-object" src='{{ url_for("static", filename=comment.user.img_url) }}' style='width:50px; height:50px'>
      </a>
    </div>
    <div class="media-body panel panel-default">
      <div class="panel-heading"><strong>{{ comment.user.name }}</strong></div>
      <div class="panel-body">{{ comment.text }}</div>
    </div>
  </div>
{% endmacro %}

{% macro pledge_row(backer, bounty) %}
  <div class="media">
    <div class="media-left media-middle">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <img src='{{ url_for("static", filename=backer.img_url) }}' style='width:25px; height:25px'/>
        {{ backer.name }} - {{ bounty.pledges|selectattr("user_id", "sameas", backer.id)|sum(attribute="amount") }}
      </h4>
    </div>
  </div>
{% endmacro %}

{% macro bounty_status_type(bounty, bounty_statuses) %}
  {% if bounty.state is sameas bounty_statuses['OPEN'] %}
    <span class='label label-success'>Unclaimed</span>
  {% elif bounty.state is sameas bounty_statuses['CLOSED'] %}
    <span class='label label-default'>Claimed</span>
  {% elif bounty.ststateatus is sameas bounty_statuses['REVIEW'] %}
    <span class='label label-primary'>Under Review</span>
  {% else %}
    <span class='label label-danger'>Error</span>
  {% endif %}
{% endmacro %}