{% extends 'base.html' %}
{% import 'macros.html'  as macros %}
{% import 'bootstrap/wtf.html'  as wtf %}
{% import 'bootstrap/utils.html'  as utils %}

{% block menubar %}
  <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
    <li role="presentation">
      <a href="{{ url_for('bounties') }}" aria-controls="home" role="tab">Open Bounties</a>
    </li>
    <li role="presentation" class="active">
      <a href="{{ url_for('projects') }}" aria-controls="projects" role="tab">Projects</a>
    </li>
  </ul> 
{% endblock %}

{% block page_content %}
<!-- Projects -->

<div class="tab-pane fade in active" role="tabpanel" id="projects">
  <div class="make-row col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: -2px">

    <div class="col-md-9" style="padding-left: 0px">
      <div class="list-group" id="projectList">
          {% for project in projects %}
            {{ macros.project_row(project, loop.index0) }}
          {% endfor %}
      </div>
    </div>

    <div class="well input-group col-md-3" style="padding: 19px" style="padding-right: 0px">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="add-new-project" style="margin-bottom: 24px" data-toggle="modal" data-target="#newProjectModal">
          Add a new Project
        </button>

        <form role="form" id="submitForm", action="{{ url_for('projects') }}", method="POST">
          <div class="voffset5">
            <span style="margin-top: 12px">Tags:</span>
            {% for tag in tags %}
              <span id="label-{{ tag.id }}" class="label label-default unselectable filter-project-tag" style="display: inline-block;" data-tag-id="{{ tag.id }}">{{ tag.label }}</span>
            {% endfor %}
          </div>
          <div class='row voffset4'>
            <div class="col-md-12" align="right">
              <span class="label label-success unselectable example-filter-tag" style="display: inline-block;">Require</span>
              <span class="label label-warning unselectable example-filter-tag" style="display: inline-block;">Exclude</span>

              {{ filter_tags_form.hidden_tag() }}
              {{ filter_tags_form.require_tags(type="hidden", style="display: none") }}
              {{ filter_tags_form.exclude_tags(type="hidden", style="display: none") }}
              {{ filter_tags_form.do_filter(class_="btn btn-primary") }}
            </div>
          </div>
        </form>
      </div>

  </div>
</div>

 <!-- New Label Modal -->
  <div class="modal fade" id="newLabelModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Add Project Tag</h4>
        </div>
        <form role="form" id="submitForm", action="{{ url_for('projects') }}", method="POST">
          <div class="modal-body">
            {{ new_tag_form.hidden_tag() }}

            {% for field, errors in new_tag_form.errors.iteritems() %}
            <div class="alert alert-danger">
                {{ new_tag_form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}

            <div class="form-group">
              {{ new_tag_form.new_tag.label }}
              {{ new_tag_form.new_tag(class_="form-control", placeholder="Enter new") }}
            </div>
            {{ new_tag_form.new_tag_project_id(type="hidden") }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{ new_tag_form.submit_new_tag(class_="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove Label Modal -->
  <div class="modal fade" id="removeLabelModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Remove Project Tag</h4>
        </div>
        <form role="form" id="submitForm", action="{{ url_for('projects') }}", method="POST">
          <div class="modal-body">
            {{ remove_tag_form.hidden_tag() }}
            {{ remove_tag_form.remove_tag(type="hidden") }}
            {{ remove_tag_form.remove_tag_project(type="hidden") }}
            <span class='h4' id="remove-tag-prompt"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{ remove_tag_form.submit_remove_tag(class_="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- New Project Modal -->
  <div class="modal fade" id="newProjectModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">New Project</h4>
        </div>
        <form role="form" id="submitForm", action="{{ url_for('projects') }}", method="POST">
          <div class="modal-body">
            {{ new_project_form.hidden_tag() }}

            {% for field, errors in new_project_form.errors.iteritems() %}
            <div class="alert alert-danger">
                {{ new_project_form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}

            <div class="form-group">
              {{ new_project_form.new_project_name.label }}
              {{ new_project_form.new_project_name(class_="form-control", placeholder="Enter project name") }}
            </div>
            <div class="form-group">
              {{ new_project_form.new_project_description.label }}
              {{ new_project_form.new_project_description(class_="form-control", rows=6, placeholder="Enter detailed description") }}
            </div>
            <div class="form-group">
              {{ new_project_form.new_project_github_url.label }}
              {{ new_project_form.new_project_github_url(class_="form-control", rows=6, placeholder="Enter github url") }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{ new_project_form.submit_project(class_="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    $("a.tool-tip").tooltip();
    $("span.project-tag").hover(
       function(){ $(this).find(".remove-tag").show() },
       function(){ $(this).find(".remove-tag").hide() }
    );

    $('.add-project-tag').on('click', function (e) {
      var projectId = $(this).attr('data-project-id');
      $('#new_tag_project_id').val(projectId);
      $('#new_tag').val("");
    });

    $('.filter-project-tag').on('click', function (e) {
      if ($(this).hasClass("label-default")) {
        $(this).removeClass("label-default")
        $(this).addClass("label-success")
      } else if ($(this).hasClass("label-success")) {
        $(this).removeClass("label-success")
        $(this).addClass("label-warning")
      } else {
        $(this).removeClass("label-warning")
        $(this).addClass("label-default")
      }
    });

    $('#do_filter').on('click', function (e) {
      var require = []
      var exclude = []

      $('.filter-project-tag').each(function(i, obj) {
        if ($(this).hasClass("label-success")) {
          require.push($(this).attr('data-tag-id'))
        } else if ($(this).hasClass("label-warning")) {
          exclude.push($(this).attr('data-tag-id'))
        }
      });

      $('#require_tags').val(require);
      $('#exclude_tags').val(exclude);

    });

    $('.add-new-project').on('click', function (e) {
      $('#new_project_name').val("");
      $('#new_project_description').val("");
    });

    

    $('.remove-tag').on('click', function (e) {
      var project = $(this).attr('data-project');
      var tag = $(this).attr('data-tag');
      $('#remove_tag_project').val(project);
      $('#remove_tag').val(tag);
      $('#remove-tag-prompt').text("Are you sure you want to remove the tag '" + tag + "' from the project '" + project + "'?");
    });



    var formErrors = {% if new_project_form.errors %}true{% else %}false{% endif %};

    $(document).ready(function() {
        if (formErrors) {
            $('#newProjectModal').modal('show');
        }
    });
  </script>
{% endblock %}